<div class="app-root-timax bg-slate-100">
    <div class="container m-auto h-screen">
        <div class="grid grid-cols-12 gap-4 p-4 h-screen">
            <div class="col col-span-1 bg-orange-500 h-full rounded-lg">
                <ul class="text-center p-4">
                    <li class="text-center mt-5">
                        <a href="">
                            <img src="assets/logo-1.png"/>
                        </a>
                    </li>
                    <li class="mt-10">
                        <a href="">
                            <svg class="w-6 h-6 text-white inline-block duration-300 hover:text-slate-900 hover:transition-colors hover:duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        </a>
                    </li>
                    <li class="mt-8">
                        <a href="/perfil">
                            <svg class="w-6 h-6 text-white inline-block duration-300 hover:text-slate-900 hover:transition-colors hover:duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
                        </a>
                    </li>
                    <li class="mt-8">
                        <a href="/ajustes">
                            <svg class="w-6 h-6 text-white inline-block duration-300 hover:text-slate-900 hover:transition-colors hover:duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"></path></svg>
                        </a>
                    </li>
    
                    <ng-container *ngIf="(profile$ | async)?.permissions.includes('administrator')">
                        <li class="mt-16">
                            <a href="/gerenciar-ajustes">
                                <svg class="w-6 h-6 text-white inline-block duration-300 hover:text-slate-900 hover:transition-colors hover:duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
                            </a>
                        </li>
                        <li class="mt-8">
                            <a href="/gerenciar-pessoal">
                                <svg class="w-6 h-6 text-white inline-block duration-300 hover:text-slate-900 hover:transition-colors hover:duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                            </a>
                        </li>
                    </ng-container>

                </ul>
            </div>
            <div class="col col-span-11">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>